# Node
node_modules/
dist/
dist-ssr/
build/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*
lerna-debug.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environment Variables
.env
.env.*
*.local
production.env

# IDEs and Editors
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*.sw?
*~
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
logs
*.log

# Backend Database
local.db
local.db-info
local.db-shm
local.db-wal
drizzle.config.ts

# Turso/SSL
cacert.pem
