TIDB_DATABASE_URL="mysql://USER:PASSWORD@HOST/DATABASE"
BREVO_API_KEY=""
EMAIL_FROM=""
EMAIL_FROM_NAME="Ev Bus"
SMTP_USER=""
GMAIL_ACCESS_TOKEN=""
GMAIL_CLIENT_ID=""
GMAIL_CLIENT_SECRET=""
GMAIL_REFRESH_TOKEN=""
GMAIL_FROM=""
